body {
    background-color: #F5F5F5;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.header-bar-add {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 1px #DCDCDC;
    margin-bottom: 20px;
    padding: 10px;
}


/* .header-bar-add input {
    border: 1px solid #DCDCDC;
    text-indent: 5px;
    padding: 5px;
    color: #808080;
    font-weight: lighter;
}

.header-bar-add input:last-child {
    background-color: #f2f2f2;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

.header-bar-add input:last-child:hover {
    background-color: #e6e6e6;
} */

.header-bar-filter {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 1px #DCDCDC;
    margin-bottom: 20px;
    padding: 10px;
}

.header-bar-filter input {
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    padding: 5px;
    font-weight: lighter;
    transition: 0.3s;
    cursor: pointer;
}


/* .header-bar-filter input:hover {
    background-color: #e6e6e6;
} */

.user-container {
    background-color: #FFFFFF;
    transition: 0.3s;
}

.user-container:hover {
    box-shadow: 2px 2px 1px #DCDCDC;
}

.user-content-name {
    margin: -10px;
    font-size: 15px;
    font-weight: bold;
}

.user-content {
    margin: -10px;
    font-size: 13px;
    overflow: hidden;
}

.btn-primary {
    color: #fff;
}

.edit-button {
    border-radius: 2px;
    background-color: #DCDCDC;
    opacity: 0.6;
    border: none;
    margin: 5px;
    width: 60px;
    font-weight: lighter;
    font-size: 12px;
    transition: 0.2s;
}

.edit-button:hover {
    opacity: 1;
}

.thumbnail {
    padding: 50px;
}

.user-box {
    float: left;
    padding: 10px;
    text-align: center;
}

.user-box.favorite {
    background-color: blue;
}

.user-image {
    width: 100%;
    padding-bottom: 25px;
}

.edit-button input {
    background-color: #DCDCDC;
    border: none;
}

.fa-star {
    position: absolute;
    left: 20px;
    top: 20px;
    transition: all 200ms ease-in;
    transform: scale(1);
}

.fa-star:hover {
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

li {
    list-style: none;
}